body {
    background-color: #f2f1f0;
}

.news {
    background-color: #ffffff;
}

.w {
    width: 1400px;
    margin: 100px auto;
}

.news .title {
    display: block;
    font-size: 50px;
    color: #333333;
    font-weight: 200px;
    margin-bottom: 50px;
    text-align: left;
}

.news .nav ul {
    float: left;
}

.news .nav ul li {
    float: left;
    width: 30%;
    height: 380px;
    margin-right: 70px;
    margin-bottom: 120px;
}

.news .nav ul li:nth-child(3n) {
    margin-right: 0px;
}

.news .nav ul li:nth-last-child(-n+3) {
    margin-bottom: 60px;
}

.news .nav li span {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}

.news .nav li img {
    width: 100%;
    margin-bottom: 15px;
}

.news .nav li a {
    display: block;
    font-size: 19px;
    color: #333333;
    padding: 0px 0px 10px;
}

.w .more a {
    display: block;
    font-size: 20px;
    color: #333333;
    margin: 35px auto;
    text-align: center;
}

.nav ul li:hover a {
    border-bottom: 3px solid #0c2340;
}